*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightsalmon;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    border-radius: 10px;
    border: 3px dotted black;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.botones input {
    background-color: white;
    border: 2px solid salmon;
    border-radius: 5px;
    padding: 0.5em;
}

.botones input:hover {
    transform: scale(1.1);
    transition: ease-in-out(0.8, 0.8);
}